.page {
  flex: 1 0 auto;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #393939;
}

.empty_page {
  width: 50%;
  display: flex;
  justify-content: center;
  color: orange;
  font-size: 20px;
  font-weight: bold;
  padding: 50px 20px;
  background: url(../img/adeptus-astartes.svg) no-repeat center;
}

.loader {
  font-size: 20px;
  color: orange;
  margin-top: 50px;
}