.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 110px;
  background-color: #2b2b2b;

  &__main_title {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
  }

  &__title_container {
    flex: 1 1 auto;
    text-align: center;
  }

  &__cart {
    flex: 0 1 auto;
    width: 200px;
  }
}

.logo {
  flex: 0 1 auto;
  width: 200px;
  margin-left: 20px;
}

.logo img {
  width: 100%;
}